.footer-row{
	margin-top: 20px;
}

.footer-button{
	margin-top: 10px;
}

.footer-section{
  text-align: center;
}

.footer-heading{
  padding-bottom: 30px;
}

.footer-heading h2{
  font-size: 32px;
}

.footer-heading h3{
  font-size: 22px;
}

.lv-flag-image {
  background-image: url('../../assets/images/Latvia-Flag.gif');
  background-size: cover;
}