<section id="contact" [ngStyle.lt-md]="{'margin-top': '50px', 'margin-bottom': '50px'}">
    <div class="container">
		      <div class="contact-section contact-heading mat-typography" fxLayout="column" fxLayoutAlign="center center">
		            <div>
		            <h2 [ngStyle.lt-md]="{'margin-bottom': '15px'}">{{'contact.title' | translate}}</h2>
		            </div>
		            <div>
			        <h3 [ngStyle.xs]="{'font-size': '18px'}" [ngStyle.sm]="{'font-size': '22px'}">{{'contact.subtitle' | translate}}</h3>
			        </div>
		        </div>



				<form class="formwidth" (ngSubmit)="onSubmit()" #contactForm="ngForm" [formGroup]="contactFormGroup">
				  <div class="contact-form" [ngStyle.xs]="{'padding-left': '50px', 'padding-right': '50px'}" [ngStyle.sm]="{'padding-left': '100px', 'padding-right': '100px'}" [ngStyle.md]="{'padding-left': '150px', 'padding-right': '150px'}" [ngStyle.lg]="{'padding-left': '200px', 'padding-right': '200px'}">
					  
				  	  <mat-form-field appearance="outline" color="accent">
					  	<mat-label>{{'contact.enter.name' | translate}} </mat-label>
					    <input matInput placeholder="{{'contact.placeholder.name' | translate}}" formControlName="nameFormControl"
					           [errorStateMatcher]="matcher">
					    <mat-error *ngIf="contactFormGroup.get('nameFormControl').invalid ">
							{{'contact.error.name' | translate}} <strong>{{'contact.error.required' | translate}}</strong>
					    </mat-error>
					  </mat-form-field>

					  <mat-form-field appearance="outline" color="accent">
					  	<mat-label>{{'contact.enter.phone' | translate}} </mat-label>
					    <input matInput placeholder="{{'contact.placeholder.phone' | translate}}" formControlName="phoneFormControl"
					           [errorStateMatcher]="matcher">
					    <mat-error *ngIf="contactFormGroup.get('phoneFormControl').invalid">
							{{'contact.error.phone' | translate}} <strong>{{'contact.error.required' | translate}}</strong>
					    </mat-error>
					  </mat-form-field>

					  <mat-form-field appearance="outline" color="accent">
					  	<mat-label>{{'contact.enter.email' | translate}} </mat-label>
					    <input matInput placeholder="{{'contact.placeholder.email' | translate}}" formControlName="emailFormControl"
					           [errorStateMatcher]="matcher">
					    <mat-error *ngIf="contactFormGroup.get('emailFormControl').errors?.email && !contactFormGroup.get('emailFormControl').errors?.required">
							{{'contact.error.email_valid' | translate}}
					    </mat-error>
					    <mat-error *ngIf="contactFormGroup.get('emailFormControl').errors?.required">
							{{'contact.error.email' | translate}} <strong>{{'contact.error.required' | translate}}</strong>
					    </mat-error>
					  </mat-form-field>

					  <mat-form-field appearance="outline" color="accent">
						<mat-label>{{'contact.enter.message' | translate}}</mat-label>
						<textarea matInput formControlName="messageFormControl"></textarea>
					  </mat-form-field>

					  <br>
					  <mat-checkbox *ngIf="!isRobot" color="accent" formControlName="robotFormControl" (change)="setSubmitButton($event)">{{'contact.enter.robot' | translate}}</mat-checkbox>
					  <br>

					  <div fxLayout="row" fxLayoutAlign="center center">
					    <button [disabled]="isSubmitDisabled"  mat-raised-button color="accent" type="submit">{{'contact.button' | translate}}</button>
					   </div>

				  </div>
  					
				</form>
	</div>
</section>
