<section
  id="pricing"
  [ngStyle.lt-md]="{ 'margin-top': '30px', 'margin-bottom': '30px' }"
>
  <div class="container pricing-card">
    <div
      class="pricing-section pricing-heading mat-typography"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <div>
        <h2 [ngStyle.lt-md]="{ 'margin-bottom': '15px' }">{{'pricing.title' | translate}}</h2>
      </div>
      <div>
        <h3
          [ngStyle.xs]="{ 'font-size': '18px' }"
          [ngStyle.sm]="{ 'font-size': '22px' }"
        >
        {{'pricing.subtitle' | translate}}
        </h3>
      </div>
    </div>

    <div
      fxLayout="row"
      fxLayout.lt-sm="column"
      fxLayoutWrap="nowrap"
      fxLayoutGap="30px"
      fxLayoutGap.sm="8px"
    >
      <div fxFlex="33.33" [about]>
        <mat-card class="p-0 m-0">
          <mat-card-content>
            <h5 class="mat-headline" [ngStyle.sm]="{ 'font-size': '16px' }">
              <i
                [ngStyle.lt-md]="{ 'font-size': '48px' }"
                class="material-icons"
                >headset_mic</i
              >
              {{'pricing.support.title' | translate}}
            </h5>

            <mat-divider class="mb-1"></mat-divider>
            <mat-list>
              <mat-list-item> {{'pricing.support.line.1' | translate}} </mat-list-item>
              <mat-list-item> {{'pricing.support.line.2' | translate}} </mat-list-item>
              <mat-list-item> {{'pricing.support.line.3' | translate}} </mat-list-item>
            </mat-list>
            <mat-divider class="mb-1"></mat-divider>
            <div class="value">{{'pricing.support.price' | translate}}</div>
          </mat-card-content>
        </mat-card>
      </div>

      <div fxFlex="33.33" [about]>
        <mat-card class="p-0 m-0">
          <mat-card-content>
            <h5 class="mat-headline" [ngStyle.sm]="{ 'font-size': '16px' }">
              <i
                [ngStyle.lt-md]="{ 'font-size': '48px' }"
                class="material-icons"
                >bug_report</i
              >
              {{'pricing.testing.title' | translate}}
            </h5>

            <mat-divider class="mb-1"></mat-divider>
            <mat-list>
              <mat-list-item> {{'pricing.testing.line.1' | translate}}</mat-list-item>
              <mat-list-item> {{'pricing.testing.line.2' | translate}} </mat-list-item>
              <mat-list-item> {{'pricing.testing.line.3' | translate}} </mat-list-item>
            </mat-list>
            <mat-divider class="mb-1"></mat-divider>
            <div class="value">{{'pricing.testing.price' | translate}}</div>
          </mat-card-content>
        </mat-card>
      </div>

      <div fxFlex="33.33" [about]>
        <mat-card class="p-0 m-0">
          <mat-card-content>
            <h5 class="mat-headline" [ngStyle.sm]="{ 'font-size': '16px' }">
              <i
                [ngStyle.lt-md]="{ 'font-size': '48px' }"
                class="material-icons"
                >code</i
              >
              {{'pricing.development.title' | translate}}
            </h5>

            <mat-divider class="mb-1"></mat-divider>
            <mat-list>
              <mat-list-item> {{'pricing.development.line.1' | translate}} </mat-list-item>
              <mat-list-item> {{'pricing.development.line.2' | translate}} </mat-list-item>
              <mat-list-item> {{'pricing.development.line.3' | translate}} </mat-list-item>
            </mat-list>
            <mat-divider class="mb-1"></mat-divider>
            <div class="value">{{'pricing.development.price' | translate}}</div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>
