<section
  id="pricing"
  [ngStyle.lt-md]="{ 'margin-top': '30px', 'margin-bottom': '30px' }"
>
  <div class="container pricing-card">
    <div
      class="pricing-section pricing-heading mat-typography"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <div>
        <h2 [ngStyle.lt-md]="{ 'margin-bottom': '15px' }">Pricing</h2>
      </div>
      <div>
        <h3
          [ngStyle.xs]="{ 'font-size': '18px' }"
          [ngStyle.sm]="{ 'font-size': '22px' }"
        >
          The price depends on the specific of project
        </h3>
      </div>
    </div>

    <div
      fxLayout="row"
      fxLayout.lt-sm="column"
      fxLayoutWrap="nowrap"
      fxLayoutGap="30px"
      fxLayoutGap.sm="8px"
    >
      <div fxFlex="33.33" [about]>
        <mat-card class="p-0 m-0">
          <mat-card-content>
            <h5 class="mat-headline" [ngStyle.sm]="{ 'font-size': '16px' }">
              <i
                [ngStyle.lt-md]="{ 'font-size': '48px' }"
                class="material-icons"
                >headset_mic</i
              >
              Support
            </h5>

            <mat-divider class="mb-1"></mat-divider>
            <mat-list>
              <mat-list-item> Request processing </mat-list-item>
              <mat-list-item> Employee training </mat-list-item>
              <mat-list-item> Availability 24/7 </mat-list-item>
            </mat-list>
            <mat-divider class="mb-1"></mat-divider>
            <div class="value">from 30 € per hour</div>
          </mat-card-content>
        </mat-card>
      </div>

      <div fxFlex="33.33" [about]>
        <mat-card class="p-0 m-0">
          <mat-card-content>
            <h5 class="mat-headline" [ngStyle.sm]="{ 'font-size': '16px' }">
              <i
                [ngStyle.lt-md]="{ 'font-size': '48px' }"
                class="material-icons"
                >bug_report</i
              >
              Testing
            </h5>

            <mat-divider class="mb-1"></mat-divider>
            <mat-list>
              <mat-list-item> Functional</mat-list-item>
              <mat-list-item> Load testing </mat-list-item>
              <mat-list-item> Security </mat-list-item>
            </mat-list>
            <mat-divider class="mb-1"></mat-divider>
            <div class="value">from 45 € per hour</div>
          </mat-card-content>
        </mat-card>
      </div>

      <div fxFlex="33.33" [about]>
        <mat-card class="p-0 m-0">
          <mat-card-content>
            <h5 class="mat-headline" [ngStyle.sm]="{ 'font-size': '16px' }">
              <i
                [ngStyle.lt-md]="{ 'font-size': '48px' }"
                class="material-icons"
                >code</i
              >
              Development
            </h5>

            <mat-divider class="mb-1"></mat-divider>
            <mat-list>
              <mat-list-item> New projects </mat-list-item>
              <mat-list-item> Reverse engineering </mat-list-item>
              <mat-list-item> Compilation of documentation </mat-list-item>
            </mat-list>
            <mat-divider class="mb-1"></mat-divider>
            <div class="value">from 55 € per hour</div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>
