<section
  id="pricing"
  [ngStyle.lt-md]="{ 'margin-top': '30px', 'margin-bottom': '30px' }"
>
  <div class="container pricing-card">
    <div
      class="pricing-section pricing-heading mat-typography"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <div>
        <h2 [ngStyle.lt-md]="{ 'margin-bottom': '15px' }">Pricing</h2>
      </div>
      <div>
        <h3
          [ngStyle.xs]="{ 'font-size': '18px' }"
          [ngStyle.sm]="{ 'font-size': '22px' }"
        >
          Activities in the percentage ratio
        </h3>
      </div>
    </div>

    <div
      fxLayout="row"
      fxLayout.lt-sm="column"
      fxLayoutWrap="nowrap"
      fxLayoutGap="30px"
      fxLayoutGap.sm="8px"
    >
      <div fxFlex="33.33" [about]>
        <mat-card class="p-0 m-0">
          
          <mat-card-content>
            <h5 class="mat-headline" [ngStyle.sm]="{ 'font-size': '16px' }">
              Support
            </h5>
            <p class="mat-subheading-2" [ngStyle.sm]="{ 'font-size': '12px' }">
              Lorem ipsum dolor sit amet conse ctetur adipi sicing elit.
              Doloribus numquam quis.
            </p>
          </mat-card-content>
        </mat-card>
      </div>

      <div fxFlex="33.33" [about]>
        <mat-card class="p-0 m-0">
          
          <mat-card-content>
            <h5 class="mat-headline" [ngStyle.sm]="{ 'font-size': '16px' }">
              Testing
            </h5>
            <p class="mat-subheading-2" [ngStyle.sm]="{ 'font-size': '12px' }">
              Lorem ipsum dolor sit amet conse ctetur adipi sicing elit.
              Doloribus numquam quis.
            </p>
          </mat-card-content>
        </mat-card>
      </div>

      <div fxFlex="33.33" [about]>
        <mat-card class="p-0 m-0">
          
          <mat-card-content>
            <h5 class="mat-headline" [ngStyle.sm]="{ 'font-size': '16px' }">
              Development
            </h5>
            <p class="mat-subheading-2" [ngStyle.sm]="{ 'font-size': '12px' }">
              Lorem ipsum dolor sit amet conse ctetur adipi sicing elit.
              Doloribus numquam quis.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>
