<section
  id="working"
  [ngStyle.lt-md]="{ 'margin-top': '30px', 'margin-bottom': '30px' }"
>
  <div class="container working-card">
    <div
      class="working-section working-heading mat-typography"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <div>
        <h2 [ngStyle.lt-md]="{ 'margin-bottom': '15px' }">
          {{'working.title' | translate}}
        </h2>
      </div>
      <div>
        <h3
          [ngStyle.xs]="{ 'font-size': '18px' }"
          [ngStyle.sm]="{ 'font-size': '22px' }"
        >
        {{'working.subtitle' | translate}}
        </h3>
      </div>
    </div>

    <div
      fxLayout="row"
      fxLayout.lt-sm="column"
      fxLayoutWrap="nowrap"
      fxLayoutGap="30px"
      fxLayoutGap.sm="8px"
    >
      <div fxFlex="33.33" [about]>
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/img/01.jpg" />
          <mat-card-content>
            <h5 class="mat-headline" [ngStyle.sm]="{ 'font-size': '16px' }">
              {{'working.client.title' | translate}}
            </h5>
            <p class="mat-subheading-2" [ngStyle.sm]="{ 'font-size': '12px' }">
              {{'working.client.text' | translate}}
            </p>
          </mat-card-content>
        </mat-card>
      </div>

      <div fxFlex="33.33" [about]>
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/img/02.jpg" />
          <mat-card-content>
            <h5 class="mat-headline" [ngStyle.sm]="{ 'font-size': '16px' }">
              {{'working.project.title' | translate}}
            </h5>
            <p class="mat-subheading-2" [ngStyle.sm]="{ 'font-size': '12px' }">
              {{'working.project.text' | translate}}
            </p>
          </mat-card-content>
        </mat-card>
      </div>

      <div fxFlex="33.33" [about]>
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/img/03.jpg" />
          <mat-card-content>
            <h5 class="mat-headline" [ngStyle.sm]="{ 'font-size': '16px' }">
              {{'working.support.title' | translate}}
            </h5>
            <p class="mat-subheading-2" [ngStyle.sm]="{ 'font-size': '12px' }">
              {{'working.support.text' | translate}}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>
