.working-row{
	margin-top: 20px;
}

.working-button{
	margin-top: 10px;
}

.working-section{
  text-align: center;
  padding-top: 100px;
}

.working-heading{
  padding-bottom: 30px;
}

.working-heading h2{
  font-size: 32px;
}

.working-heading h3{
  font-size: 22px;  
}