::ng-deep .mat-select-content {
  background-color: #f57c00;
  font-size: 1.2em;
}

::ng-deep .mat-select-value {
  background-color: #f57c00;
  font-size: 1.5em;
}

::ng-deep .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
 background-color: #f57c00; 
}