<div>
  <mat-form-field>
    <mat-select placeholder="Language" [ngModel]="translate.currentLang" (selectionChange)="translate.use($event.value)">
        <mat-option *ngFor="let lang of translate.getLangs()" [value]="lang">
            {{ lang }}
        </mat-option>
    </mat-select>
</mat-form-field>

  

      <!-- <select #langSelect (change)="translate.use(langSelect.value)">
        <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
      </select> -->

    
</div>
