.ranges-row{
	margin-top: 20px;
}

.ranges-button{
	margin-top: 10px;
}

.ranges-section{
  text-align: center;
  padding-top: 100px;
}

.ranges-heading{
  padding-bottom: 30px;
}

.ranges-heading h2{
  font-size: 32px;
}

.ranges-heading h3{
  font-size: 22px;
}