.ranges-row{
	margin-top: 20px;
}

.ranges-button{
	margin-top: 10px;
}

.ranges-section{
  text-align: center;
  padding-top: 100px;
}

.ranges-heading{
  padding-bottom: 30px;
}

.ranges-heading h2{
  font-size: 32px;
}

.ranges-heading h3{
  font-size: 22px;
}

.positionRelative{
  position: relative;

}

.percentageValue {
  left: -10px;
  top: 40%;
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}